{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Post</title>
    {% include "components/tailwind.html" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    {{ form.media }}

</head>
<body class="h-screen">
    {% include "components/header.html" %}

    <main class="h-[calc(100vh-120px)] w-full absolute top-14">

        {% include "components/aside.html" %}
        <section id="content"
            class="w-[100wh-60px] lg:w-[100wh-250px] ml-[60px] lg:ml-[240px] p-5 right-0 transition-all duration-500 ease-in-out">

            <div class="grid place-content-center">
                <form method="post" class="flex flex-col" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}

                    {% include "components/btnSendPostF.html" %}
                </form> 


               

            </div>

          
        </section>

    </main>


    {% include "components/dashscripts.html" %}
</body>
</html>